.card {
    overflow: hidden;
    box-shadow: 0 2px 20px;
    display: flex;
    flex-direction: column;
}
.card__title{
    text-align: center;
    font-size: 6vh;
}
.card__body{
    background-color: white;
    width: 100%;
    color:green 
}